.input-wrapper {
  color: gray;
  font-size: 16px;
  text-align: start;
  margin-bottom: 5px;

  .input-content {
    width: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;

    .icon {
      padding: 7px 7px 7px 10px;
      background-color: #f1f3f6;
    }
    input {
      border: none;
      border-radius: 8px;
      background-color: #f1f3f6;
      padding: 7px 0 7px 10px;
      width: 100%;
      outline: none;
    }
  }
}
