<div class="tabela">
  <table>
    <thead>
      <tr class="titulo">
        <th>Código - Vin</th>
        <th>Odômetro</th>
        <th>Nível de Combustivel</th>
        <th>Status</th>
        <th>Lat.</th>
        <th>Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" (input)="preencher($event)" placeholder="Insira o Código VIN"></td>
        <td>{{odometro}}</td>
        <td>{{nivelCombustivel}}</td>
        <td>{{status}}</td>
        <td>{{lat}}</td>
        <td>{{long}}</td>
      </tr>
    </tbody>
  </table>
</div>


