main {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-section {
    flex-grow: 1;
    .ranger {
      width: 100%;
    }
  }
  .form-section {
    background-color: #eeeeee;
    flex-grow: 0.5;
    gap: 15rem;
    justify-content: space-between;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0px 8px 8px 0;
    }
    .fantasma {
      height: 7rem;
    }
    .login {
      text-align: center;
      gap: 5px;
      width: 100%;
    }
    h1 {
      color: rgb(2, 173, 173);
      font-weight: normal;
    }
    .logo {
      margin-top: 2rem;
      width: 40%;
    }

  }
}
