<main>
  <section class="main-section">
    <img class="ranger" src="ranger.png" alt="Imagem da ranger">
  </section>
  <section class="form-section">
    <div class="icon">
<img class="logo" src="ford.png" alt="Logo da ford"></div>
<div class="login"><h1>{{ title }}</h1>
  <ng-content></ng-content>
<button [class.botaoativado]="!disablePrimaryBtn"  class="botao" (click)="submit()" [disabled]="disablePrimaryBtn">{{ primaryBtnText }}</button></div>
<div class="fantasma"></div>
  </section>
</main>