main {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-section {
    flex-grow: 1;
    .ranger {
      width: 100%;
    }
  }
  .form-section {
    background-color: #eeeeee;
    flex-grow: 0.5;
    gap: 15rem;
    justify-content: space-between;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .fantasma {
      height: 7rem;
    }
    .login {
      text-align: center;
      gap: 5px;
      width: 100%;
    }
    h1 {
      color: rgb(2, 173, 173);
      font-weight: normal;
    }
    .logo {
      margin-top: 2rem;
      width: 40%;
    }
    .botao {
      width: 300px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: rgb(100, 101, 101);
      color: white;
      box-shadow: 0px 0px 10px grey;
      padding: 12px 24px;
    }
    .botaoativado {
      background-color: rgb(2, 173, 173);
      cursor: pointer;
    }
  }
}
