form{
  width: 100%;

}
.perfil{
  width: 25px;
}
.login-form{
margin: 0 10%;
}
.visible{
  width: 20px;
  height: 20px;

}
.button{
  position: absolute;
  margin-left: 35%;
  width: 24px;
  height: 24px;
}
.automaticamente{
  margin: 20px 0 20px 0;
}