<app-default-login-layout
title="Boas-vindas"
primaryBtnText="Entrar"
secondaryBtnText=""
(submit)="submit()"
[disablePrimaryBtn]="!loginForm.valid"
>
<form
class="login-form"
  [formGroup]="loginForm">
<app-primary-input
formControlName="email"
inputName="email"
type="email"
label=""
placeholder="Digite seu email"
>
<img class="perfil" src="perfil.png">
</app-primary-input>
<app-primary-input
formControlName="password"
inputName="password"
[type]= "isPasswordVisible ?   'text' : 'password'"
label=""
placeholder="Digite sua senha"
>
<img class="perfil" src="lock.png">
<button  class="button" type="button" (click)="togglePasswordVisibility()">
  <img class="visible"  [src]="isPasswordVisible ?  'visible.png' :'eye.png' " alt="Toggle Password Visibility">
</button></app-primary-input>
<div class="automaticamente"><p>Logar automaticamente</p> </div>
</form>
</app-default-login-layout>
