form{
  width: 100%;

}
.perfil{
  width: 25px;
}
.login-form{
margin: 0 10%;
}
.visible{
  width: 30px;
  height: 30px;

}
.button{
  position: absolute;
  margin-left: 35%;
  width: 24px;
  height: 24px;
  background: none; /* Remove o fundo padrão */
  border: none; /* Remove a borda padrão */
  cursor: pointer; /* Adiciona o cursor de ponteiro */
  padding: 0;
}
.automaticamente{
  margin: 20px 0 20px 0;
}

