<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard FORD</title>
  </head>
  <body>
    <h1 class="t-pagina">Dashboard FORD</h1>
    <div class="forms">
      <div class="veiculo">
        <div class="titulo">
          <p>Veículo</p>
        </div>
        <div class="numero">
        <select name="cars" id="cars" >
          <option value="" disabled selected></option>
          <option value="0">Ranger</option>
          <option value="1">Mustang</option>
          <option value="2">Territory</option>
          <option value="3">Bronco Sport</option>
        </select></div>
      </div>
      <div class="total">
        <div class="titulo">
          <p>Total de Vendas</p>
        </div>
        <div class="numero">
          <h2>{{ vendas }}</h2>
          <p>Unid.</p>
        </div>
      </div>
      <div class="conectados">
        <div class="titulo">
          <p>Conectados</p>
        </div>
        <div class="numero">
          <h2>{{conectado}}</h2>
          <p>Unid.</p>
        </div>
      </div>

      <div class="update">
        <div class="titulo">
          <p>Update Software</p>
        </div>
        <div class="numero">
          <h2>{{software}}</h2>
          <p>Unid.</p>
        </div>
      </div>
    </div>
    <div class="imagem">
      <img src="{{ imagem }}" alt="" />
    </div>
    <div class="tabela">
      <table>
        <thead>
          <tr class="titulo">
            <th>Código - Vin</th>
            <th>Odômetro</th>
            <th>Nível de Combustivel</th>
            <th>Status</th>
            <th>Lat.</th>
            <th>Long.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" (input)="preencher($event)" placeholder="Insira o Código VIN"></td>
            <td>{{odometro}}</td>
            <td>{{nivelCombustivel}}</td>
            <td>{{status}}</td>
            <td>{{lat}}</td>
            <td>{{long}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
