<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard FORD</title>
  </head>
  <body>
    <h1 class="t-pagina">Dashboard FORD</h1>
    <div class="forms">
      <div class="veiculo">
        <div class="titulo">
          <p>Veículo</p>
        </div>
        <div class="numero">
        <select name="cars" id="cars">
          <option value="" disabled selected></option>
          <option value="ranger">Ranger</option>
          <option value="mustang">Mustang</option>
          <option value="territory">Territory</option>
          <option value="bronco">Bronco Sport</option>
        </select></div>
      </div>
      <div class="total">
        <div class="titulo">
          <p>Total de Vendas</p>
        </div>
        <div class="numero">
          <h2>***</h2>
          <p>Unid.</p>
        </div>
      </div>
      <div class="conectados">
        <div class="titulo">
          <p>Conectados</p>
        </div>
        <div class="numero">
          <h2>***</h2>
          <p>Unid.</p>
        </div>
      </div>

      <div class="update">
        <div class="titulo">
          <p>Update Software</p>
        </div>
        <div class="numero">
          <h2>***</h2>
          <p>Unid.</p>
        </div>
      </div>
    </div>
    <div class="imagem">
      <img src="" alt="" />
    </div>
    <div class="tabela">
      <table>
        <thead>
          <tr class="titulo">
            <th>Código - Vin</th>
            <th>Odômetro</th>
            <th>Nível de Combustivel</th>
            <th>Status</th>
            <th>Lat.</th>
            <th>Long.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text"></td>
            <td>2023</td>
            <td>Preto</td>
            <td>ABC1D23</td>
            <td>1234567890</td>
            <td>Conectado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
